#home a {
    line-height: 30px;
    cursor: hand;
    color: black
}
#home .hidden-bottom {
    /* background-color: #9d9d9d;*/
    height: 60px;
}
#home .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    /*background-color: #9d9d9d;*/
    text-align: center;
}
#home .right {
    margin: 0 10px;
    float: right
}
#home{
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;
    margin:0;
}